@model IEnumerable<Sleep>

<div class="lg:w-2/3 w-full mx-auto mb-6 shadow-lg">
    <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
            <tr>
                <th colspan="5" class="mx-auto px-4 text-2xl py-3 title-font tracking-wider text-center font-large text-white text-sm bg-purple-400 rounded-tl rounded-tr">@ViewData["InfantName"]'s Sleep</th>
            </tr>
            <tr>
                <th class="mx-auto px-4 text-xl py-3 title-font tracking-wider text-center font-medium text-gray-700 text-sm bg-purple-100"><a>Date</th>
                <th class="mx-auto px-4 text-xl py-3 title-font tracking-wider text-center font-medium text-gray-700 text-sm bg-purple-100">Time</th>
                <th class="mx-auto px-4 text-xl py-3 title-font tracking-wider text-center font-medium text-gray-700 text-sm bg-purple-100">Duration</th>
                <th class="mx-auto px-4 text-xl py-3 title-font tracking-wider text-center font-medium text-gray-700 text-sm bg-purple-100">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4" class="text-center my-1 px-4 py-3 text-lg text-gray-900">No Sleeps</td>
                </tr>
            }
            else
            {
                foreach (Sleep s in Model.OrderByDescending(s => s.StartTime))
                {
                    <tr class="bg-gray-50">
                        <td class="text-center my-1 px-4 py-3 text-lg text-gray-900"><a asp-action="Details" asp-route-id="@s.SleepId">@s.StartTime.ToString("ddd MMM dd yyyy")</a></td>
                        <td class="text-center my-1 px-4 py-3 text-lg text-gray-900">@s.StartTime.ToString("hh:mm tt") to @s.EndTime.ToString("hh:mm tt")</td>
                        <td class="text-center my-1 px-4 py-3 text-lg text-gray-900">@s.Duration.ToString("%h") hr(s) @s.Duration.ToString("%m") min(s)</td>
                        <td class="text-center my-1 px-4 py-3 text-lg text-gray-900">
                            <a class="text-center text-purple-400 mx-2 focus:outline-none hover:text-purple-400 rounded" asp-action="Edit" asp-route-id="@s.SleepId">Edit</a>
                            <a class="text-center text-red-400 mx-2 focus:outline-none hover:text-red-400 rounded" asp-action="Delete" asp-route-id="@s.SleepId">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="text-center">
        <div class="">
            <a asp-action="Create" asp-route-id="@ViewBag.Id">
                <div class="p-2 bg-purple-400 text-white hover:bg-purple-700"  class="w-full">Add Sleep</div>
            </a>
        </div>
        <div class="">
            <a asp-controller="Dashboard" asp-route-id="@ViewBag.Id">
                <div class="p-2 bg-purple-400 text-white hover:bg-purple-700 rounded-b-lg" class="w-full">Back to @ViewData["InfantName"]'s Dashboard</div>
            </a>
        </div>
    </div>
</div>