@model IEnumerable<Medication>


<div class="lg:w-2/3 w-full mx-auto mb-6 shadow-lg">
    <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
            <tr>
                <th colspan="4" class="mx-auto px-4 text-2xl py-3 title-font tracking-wider text-center font-large text-white text-sm bg-yellow-600 rounded-tl rounded-tr">@ViewData["InfantName"]'s Medication</th>
            </tr>
            <tr>
                <th class="mx-auto px-4 text-xl py-3 title-font tracking-wider text-center font-medium text-gray-700 text-sm bg-yellow-100"><a>Medication Type</th>
                <th class="mx-auto px-4 text-xl py-3 title-font tracking-wider text-center font-medium text-gray-700 text-sm bg-yellow-100">Date</th>
                <th class="mx-auto px-4 text-xl py-3 title-font tracking-wider text-center font-medium text-gray-700 text-sm bg-yellow-100">Description</th>
                <th class="mx-auto px-4 text-xl py-3 title-font tracking-wider text-center font-medium text-gray-700 text-sm bg-yellow-100">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4" class="text-center my-1 px-4 py-3 text-lg text-gray-900">No Medications</td>
                </tr>
            }
            else
            {
                foreach (Medication m in Model.OrderByDescending(m => m.Date))
                {
                    <tr class="bg-gray-50">
                        <td class="text-center my-1 px-4 py-3 text-lg text-gray-900"><a asp-action="Details" asp-route-id="@m.MedicationId">@m.MedicationType</a></td>
                        <td class="text-center my-1 px-4 py-3 text-lg text-gray-900">@m.Date.ToString("hh:mm tt MMM dd yyyy")</td>
                        <td class="text-center my-1 px-4 py-3 text-lg text-gray-900">@m.Description</td>
                        <td class="text-center my-1 px-4 py-3 text-lg text-gray-900">
                            <a class="text-center text-yellow-500 mx-2 focus:outline-none hover:text-yellow-600 rounded" asp-action="Edit" asp-route-id="@m.MedicationId">Edit</a>
                            <a class="text-center text-red-500 mx-2 focus:outline-none hover:text-red-600 rounded" asp-action="Delete" asp-route-id="@m.MedicationId">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="text-center">
        <div class="">
            <a asp-action="Create" asp-route-id="@ViewBag.Id">
                <div class="p-2 bg-yellow-600 text-white hover:bg-yellow-700"  class="w-full">Add Medication</div>
            </a>
        </div>
        <div class="">
            <a asp-controller="Dashboard" asp-route-id="@ViewBag.Id">
                <div class="p-2 bg-yellow-600 text-white hover:bg-yellow-700 rounded-b-lg" class="w-full">Back to @ViewData["InfantName"]'s Dashboard</div>
            </a>
        </div>
    </div>
</div>