@page
@model ListModel
<div class="lg:w-2/3 w-full mx-auto mb-6">
    <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
            <tr>
                <th colspan="4" class="mx-auto px-4 text-2xl py-3 title-font tracking-wider text-center font-large text-green-500 text-sm bg-gray-500 rounded-tl rounded-tr">Roles</th>
            </tr>
            <tr>
                <th class="mx-auto px-4 text-xl py-3 title-font tracking-wider text-center font-medium text-gray-700 text-sm bg-green-100">ID</th>
                <th class="mx-auto px-4 text-xl py-3 title-font tracking-wider text-center font-medium text-gray-700 text-sm bg-green-100">Name</th>
                <th class="mx-auto px-4 text-xl py-3 title-font tracking-wider text-center font-medium text-gray-700 text-sm bg-green-100">Members</th>
                <th class="mx-auto px-4 text-xl py-3 title-font tracking-wider text-center font-medium text-gray-700 text-sm bg-green-100">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Roles.Count() == 0)
            {
                <tr>
                    <td colspan="4" class="text-center my-1 px-4 py-3 text-lg text-gray-900">No Roles</td>
                </tr>
            }
            else
            {
                foreach (IdentityRole role in Model.Roles)
                {
                    <tr class="bg-gray-50">
                        <td class="text-center my-1 px-4 py-3 text-lg text-gray-900">@role.Id</td>
                        <td class="text-center my-1 px-4 py-3 text-lg text-gray-900">@role.Name</td>
                        <td class="text-center my-1 px-4 py-3 text-lg text-gray-900">@(await Model.GetMembersString(role.Name))</td>
                        <td class="text-center my-1 px-4 py-3 text-lg text-gray-900">
                            <a class="text-center text-yellow-500 mx-2 focus:outline-none hover:text-yellow-600 rounded" asp-page="Edit" asp-route-id="@role.Id">Edit</a>
                            <a class="text-center text-red-500 mx-2 focus:outline-none hover:text-red-600 rounded" asp-page="Delete" asp-route-id="@role.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="mt-6">
        <a class="bg-green-500 text-white hover:bg-green-600 rounded py-2 px-6" asp-page="Create">Create</a>
    </div>
    
</div>

@functions {
    public class ListModel: AdminPageModel
    {
        public UserManager<IdentityUser> UserManager;
        public RoleManager<IdentityRole> RoleManager;
        public ListModel(UserManager<IdentityUser> userManager, RoleManager<IdentityRole> roleManager)
        {
            UserManager = userManager;
            RoleManager = roleManager;
        }

        public IEnumerable <IdentityRole> Roles {get; set;}

        public void OnGet() 
        {
            Roles = RoleManager.Roles;
        }

        public async Task<string> GetMembersString(string role)
        {
            IEnumerable<IdentityUser> users = await UserManager.GetUsersInRoleAsync(role);
            string result = users.Count() == 0? "No members": string.Join(", ", users.Take(3).Select(u => u.UserName).ToArray());
            return users.Count() > 3 ? $"{result}, (plus others)": result;
        }

        public async Task<IActionResult> OnPostAsync (string id) 
        {
            IdentityRole role = await RoleManager.FindByIdAsync(id);
            await RoleManager.DeleteAsync(role);
            return RedirectToPage();
        }
    }
}